#navbarNav {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar {
  background-color: #7c0a02;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.school-intro {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px;
}

.school-description {
  width: inherit;
  padding: 20px;
}

.icon--school-logo {
  width: 150px;
  height: 150px;
}

@media (max-width: 992px) {
  #navbarNav {
    display: block;
    width: 100%;
    padding: 0;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    padding: 0.75rem 1rem;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ddd;
  }

  .nav-link:last-child {
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  .nav-link {
    padding: 1rem;
  }
}